.App-logo {
   height: 40vmin;
   pointer-events: none;
}

.font-family {
   font-family: Arial, Helvetica, sans-serif;
}


.App-title,
.font-family {
   font-size: 50px;
   color: dodgerblue;
   text-align: center;
   background-color: lightblue;
   width: 85%;
   line-height: 2.5;
}

.form,
.font-family {
   font-weight: bold;
   font-size: 20px;
   padding: 10px 10px 10px 10px;
}

.border-black {
   border: 1px solid black;
}

.full-height {
   height: 100vh;
}

.menu {
   background-color: burlywood;
   width: 15%;
}

.search {
   background-color: white;
   width: 100%;
   height: 50%;
   border: 1px solid black;
}

.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}